body {
    width: auto;
    background-color: blue;
}

nav {
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    background-color: blue;
    color: white;
    margin:auto;
    text-align: center;
    padding: 2%;
}

.nav-item:hover {
    background-color: aqua;
    padding: 2%;
}
@media only screen and (max-width: 600px) {
    body {
        width: auto;
        background-color: pink;
    }
    nav {
        color: white;
        font-size: 2em;        
    }
}
/* For mobile phones: */
@media only screen and (min-width: 600px) {
    body {
        width: auto;
        background-color: red;
    }
}
/* For tablets: */
@media only screen and (min-width: 768px) {
    body {
        width: auto;
        background-color: yellow;
    }
}
@media only screen and (min-width: 980px) {
    body {
        width: auto;
        background-color: green;
        color: white;
    }
}

/* @media only screen and (min-width: 1200px) {
    body {
        width: auto;
        background-color: blue;
    }
} */
